<div class="nav-desktop">
    <div class="nav-desktop-left">
        <div>STORE</div>
        <div>COMPANY</div>
        <div>AIRBAG</div>
        <div>ATHLETES</div>
        <div>NEWS</div>
    </div>
    <div class="nav-desktop-right">
        <div style="padding: 0 16px"><img src="/images/location.png"> Store Locator</div>
        <div style="">
            <div style="padding: 10px 0;border-left: solid 1px gray; border-right: solid 1px gray">
                <div style="padding: 0 16px">
                    <img src="/images/login.png" alt="">
                    <span style="padding-left: 3px">Login</span>
                </div>
            </div>
        </div>
        <div style="border-right: solid 1px gray; padding: 10px 0">
            <div style="padding: 0 16px">
                <img src="/images/bulgarianFlag.png" alt="">
                <span style="padding-left: 3px">EN</span>
            </div>
        </div>
        <div style="border-right: solid 1px gray; padding: 10px 0">
            <div style="padding: 0 16px">
                <img src="/images/orderstatus.png" alt="">
                <span style="padding-left: 3px">Order Status</span>
            </div>
        </div>
        <div style="padding: 0 16px">
            <img src="/images/cart.png" alt="">
            <span><img src="/images/zero.png" alt=""></span>
        </div>
    </div>
</div>
