<div class="col-sm-2 custom-col-small"></div>
<div class="col-sm-8 custom-col-big pdp-desktop-grid">
    <div class="row">
        <div class="col-sm-8">
            <%- include ./pdpItemImageDesciption.ejs%>
        </div>
        <div class="col-sm-4">
            <%- include ./pdpInfo.ejs%>
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
        <%- include ./pdpItemDescription.ejs%>
    </div>
</div>
<div class="col-sm-2 custom-col-small"></div>