<div class="info-wrapper">
    <%- include ../pdpComponents/pdpItemInfo.ejs%>
    <div class="buy-now">
        <div class="quantity">Quantity</div>
        <div class="buy-now-wrapper">
            <div class="counter">
                <button class="btn">-</button>
                <div>1</div>
                <button class="btn">+</button>
            </div>
            <button class="count-button btn btn-danger">ADD TO CART</button>
        </div>
    </div>
    <div class="share">
        <div class="title">Share</div>
        <div class="share-icons">
            <img src="/images/fb.png" alt="">
            <img src="/images/twitter.png" alt="">
            <img src="/images/plus.png" alt="">
        </div>
    </div>
    <div class="add-to-wishlist">
        <img src="/images/heart.png" alt="">
        <div class="text">Add to wishlist</div>
    </div>
</div>