<div class="col-sm-8">
    <div class="item-description-wrapper">
        <div class="description">
            <div class="title">Description</div>
            <%=data.short_description%>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="item-description-wrapper">
        <div class="description">
            <div class="long_desc">
                <%-data.long_description%>
            </div>
        </div>
    </div>
</div>