<div class="nav-mobile">
    <div class="nav-mobile-wrapper">
        <div class="nav-mobile-elements">
            <div style="margin-right: 40%"><img src="/images/leftbarr.png" alt=""></div>
            <div>
                <img src="/images/fp-logo.png" style="max-width: 45px; max-height: 41px" alt="">
            </div>
            <div style="margin-left: 37%">
                <img src="/images/cart.png" alt="">
                <img src="/images/zero.png" alt="">
            </div>
        </div>
    </div>
</div>