<div class="menu-wrapper">
    <img class="icon"src="/images/fp-logo.png" alt="">
    <div class="element">MOTORBIKE</div>
    <div class="element">AVG</div>
    <div class="element">WINTERSPORTS</div>
    <div class="element">BIKE</div>
</div>

