<div class="nav-mobile">
    <div class="nav-mobile-wrapper">
        <div class="nav-mobile-elements">
            <div class="leftarr"><img src="/images/leftbarr.png" alt=""></div>
            <div class="fp-logo">
                <img src="/images/fp-logo.png" alt="">
            </div>
            <div class="scart">
                <img src="/images/cart.png" alt="">
                <img src="/images/zero.png" alt="">
            </div>
        </div>
    </div>
</div>