.body-wrapper {
    .bodyArranger{
        margin: 0px 15% 0px 15%;
    }
    .bodyNotifier {
        font-weight: bold;
        font-size: 30px;
    }

    ul{
        list-style-type: none;
    }
}

li{
    border-bottom: black solid; margin-top: 50px
}