.header-wrapper {
  .breadcrumbs{
    margin: 0px 15% 0px 15%;
  }
  .headerNav{
    border: solid black;
  }
  .headerNotification {
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bold;
    font-size: 30px;
  }

}

.customButton{
  border: solid black;
  margin: 5px;
  border-radius: 15px;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.customButton:hover{
  color: black;
}

.header-freeShipping{
  background-color: red;
  color: white;
  text-align: center;
  font-size: 15px;
}
@media only screen and (max-width: 600px){

  .header-freeShipping{
    display: none;
  }
}