.pdp-wrapper {
  .nav-desktop {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;

    .nav-desktop-left {
      margin-left: 25%;
      display: inline;
      text-align: left;

      * {
        margin: 0 10px;
        display: inline;
      }
    }

    .nav-desktop-right {
      display: inline;
      margin-left: 6%;
      text-align: right;

      * {
        display: inline;
      }
    }
  }

  @media only screen and (max-width: 1260px) {
    .nav-desktop {
      .nav-desktop-left {
        margin-left: 0%;
      }
    }

  }

  .custom-col-small {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .custom-col-big {
    flex: 0 0 60%;
    max-width: 60%;
  }


  @media only screen and (max-width: 1023px) {
    .nav-desktop {
      display: none;
    }

    .swiperc {
      display: none;
    }

    .pdp-desktop-grid {
      display: none;
    }

    .pdp-mobile-grid {
      display: inline;
    }

    .custom-col-small {
      display: none;
    }

    .menu-wrapper {
      display: none;
    }

    .nav-mobile {
      display: inline;
    }

    .image-slider {
      display: none;
    }
  }
}
