.plp-wrapper{
  .logo-menu{
    padding-top: 11px;
    padding-bottom: 15px;
    .logo-menu-wrapper{
      display: inline;
      margin-left: 431px;
      margin-right: 425px;

      .logo-menu-elements{
        display: inline;
        .image {
          margin-right: 50px;
          max-width: 53px;
          max-height: 50px;
          min-width: 53px;
          min-height: 50px;
        }
        .element{
          margin-left: 11px;
          margin-right: 11px;
          color: black;
          text-align: center;
          display: inline;
        }
      }
    }
  }

  .category-title{
    margin-left: 431px;
    margin-right: 425px;
    border-bottom: solid darkgrey 1px;

    .category-title-wrapper{
      *{
        display: inline;
      }
      .title{
        font-size: 40px;
        font-weight: bold;
        padding-right: 5px;
        border-right: solid darkgrey 2px;
      }
    }
  }

  .card:hover{
    cursor: pointer;
  }

  .grid-container{
  }

  .refine{
    margin-left: 431px;
    margin-right: 425px;
    padding-top: 26px;
    padding-left: 8px;
  }

  @media only screen and (max-width: 600px) {
    .filter{
      display: none;
    }
    .nav-desktop{
      display: none;
    }
    .plp-nav-mobile{
      display: inline;
    }
    .refine{
      display: none;
    }
    .filter{
      display: none;
    }
  }
}
.slider {
  width: 100%;
}

.custom-col-small{
  flex: 0 0 22%;
  max-width: 22%;
}
.custom-col-big{
  flex: 0 0 56%;
  max-width: 56%;
}

.custom-image-grid{
  min-width: 233px;
  max-width: 233px;
  max-height: 233px;
}