.plp-wrapper{
  .nav-mobile{
    display: none;
    .nav-mobile-wrapper{
      padding: 5px;
      background-color: black;
      color: white;

      .nav-mobile-elements{
        text-align: center;
        font-weight: bold;
        margin: 0 15% 0 15%;
        *{
          padding: 0px 3px 0px 3px;
          display: inline;
        }
      }
    }
  }

  .nav-desktop{
    .nav-desktop-wrapper{
      background-color: black;
      color: white;

      .nav-desktop-elements{
        text-align: right;
        margin: 0 15% 0 15%;
        *{
          padding: 0px 3px 0px 3px;
          display: inline;
        }
      }
    }
  }

  .logo-menu{
    height: 7vh;

    .logo-menu-wrapper{
      display: inline;
      height: 100%;
      margin: 0px 15% 0px 15%;

      .logo-menu-elements{
        display: inline;
        height: 100%;
        display: inline;
        .element{
          padding: 5px;
          color: dimgray;
          height: 100%;
          text-align: center;
          display: inline;
        }
      }
    }
  }

  .category-title{
    margin: 10px 15% 10px 15%;

    .category-title-wrapper{
      *{
        display: inline;
      }

      .title{
        font-size: 40px;
        font-weight: bold;
        padding-right: 5px;
        border-right: solid darkgrey 1px;
      }
    }
  }

  .grid-container{
    margin: 0px 15% 0px 15%;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .filter{

  }

  @media only screen and (max-width: 600px) {
    .filter{
      display: none;
    }
    .grid-container{
      grid-template-columns: auto;
    }
    .nav-desktop{
      display: none;
    }
    .nav-mobile{
      display: inline;
    }
  }
}
