.plp-nav-mobile {
  display: none;

  .plp-nav-mobile-wrapper {
    background-color: black;
    padding: 17px;

    * {
      display: inline;
    }

    .title {
      text-align: center;
      font-weight: bolder;
      color: white;
    }

    .ham {
      margin-right: auto;

      img {
        max-width: 23px;
        max-height: 20px;
      }
    }

    .cart {
      margin-left: auto;
    }

    @media only screen and (min-width: 320px) {
      .ham {
        margin-right: 21%;
      }
      .cart {
        margin-left: 12%;
      }
    }

    @media only screen and (min-width: 520px) {
      .ham {
        margin-right: 32%;
      }
      .cart {
        margin-left: 28%;
      }
    }

    @media only screen and (min-width: 710px) {
      .ham {
        margin-right: 37%;
      }
      .cart {
        margin-left: 34%;
      }
    }
  }

  .plp-filter-mobile-wrapper {
    background-color: whitesmoke;
    padding: 13px;

    * {
      display: inline;
    }

    .filter-button {
      img {
        max-width: 23px;
        max-height: 22px;
        padding-right: 5px;
      }

      .openbtn {
        padding: 0;
      }
    }

    .mglass {
      color: dimgray;
      font-weight: bold;
      margin-left: auto;

      img {
        max-width: 23px;
        max-height: 20px;
      }
    }

    @media only screen and (min-width: 320px) {
      .mglass {
        margin-left: 38%;
      }
    }
    @media only screen and (min-width: 520px) {
      .mglass {
        margin-left: 63%;
      }
    }
    @media only screen and (min-width: 710px) {
      .mglass {
        margin-left: 73%;
      }
    }
  }
}
