.filter {
  margin-top: 16px;
  max-width: 270px;
}

.collapsible {
  user-select: none;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.collapsible:after {
  content: "\2212";
  background-color: whitesmoke;
  padding: 0 4px;
  color: dimgray;
  font-weight: bold;
  float: right;
  margin-right: 15px;
}

.active:after {
  content: '\002B';
}


.content {
  user-select: none;
  color: dimgray;
  font-weight: bolder;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  border-bottom: dimgray solid 1px;


  .sizes {
    user-select: none;
    padding: 15px;

    .col{
      max-width: 33px;
    }
    .size-element {
      padding:0px;
      text-align: center;
    }

    .selected {
      color: black;
      border: red solid 1px;
      border-bottom: red solid 4px;
      text-align: center;
    }

    .size-element:hover {
      cursor: pointer;
    }
  }

  .colors {
    margin-left: 15px;
    user-select: none;
    .filter-select{
      height: 31px;
      width: 31px;
      display: inline-block;
      .color-element {
        display: inline-block;
        margin: 2px;
        min-width: 25px;
        max-width: 25px;
        min-height: 25px;
        max-height: 25px;
      }

      .color-element:hover {
        cursor: pointer;
      }
    }
    .selected {
      border: solid red 1px;
      border-radius: 2px;
    }
  }

  .filter-element {
    padding: 10px 0 10px 0px;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
  }
}
