.nav-desktop {
  .nav-desktop-wrapper {
    background-color: black;
    color: white;
    padding: 10px;


    .nav-desktop-elements {
      text-align: right;
      margin-left: 431px;
      margin-right: 425px;

      * {
        display: inline;
      }
    }
  }
}