.filter{
  margin-top: 16px;
  max-width: 270px;
}

.collapsible {
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.collapsible:after {
  content: "\2212";
  color: dimgray;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\002B';
}


.content {
  color: dimgray;
  font-weight: bolder;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  border-bottom: dimgray solid 1px;


  .size-wrapper{
    display: inline;
    .size{
      display: inline;
      padding: 5px;
      margin: 15px;
    }
  }

  .colors-wrapper{
    display: inline;
    text-align: center;
    .color{
      display: inline;
      padding: 14px;
      margin: 5px;
    }
  }
  .filter-element{
    padding: 10px 0 10px 0px;
    cursor: pointer;
  }
  ul{

    list-style-type: none;

  }
}