.plp-nav-mobile{
  display: none;
  .plp-nav-mobile-wrapper{
    background-color: black;
    padding: 17px;
    *{
      display: inline;
    }
    .title{
      text-align: center;
      font-weight: bolder;
      color: white;
    }
    .ham{
      margin-right: 30%;
      img{
        max-width: 23px;
        max-height: 20px;
      }
    }
    .cart{
      margin-left: 25%;
    }
  }
  .plp-filter-mobile-wrapper{
    background-color: whitesmoke;
    padding: 13px;
    *{
      display: inline;
    }

    .filter-button{
      img{
        max-width: 23px;
        max-height: 22px;
        padding-right: 5px;
      }

      .openbtn{
        padding: 0;
      }
    }

    .mglass{
      color: dimgray;
      font-weight: bold;
      margin-left: 50%;
      img{
        max-width: 23px;
        max-height: 20px;
      }
    }
  }
}