.nav-desktop {
  .nav-desktop-wrapper {
    background-color: black;
    color: white;
    padding: 10px;


    .nav-desktop-elements {
      text-align: right;
      margin-left: 431px;
      margin-right: 425px;

      * {
        display: inline;
      }
    }

    @media only screen and (max-width: 1260px) {
      .nav-desktop-elements {
        margin-left: 200px;

        margin-right: 200px;
      }

    }
  }
}
