.plp-mobile-grid {
  display: none;
}

@media only screen and (min-width: 320px) {
  .col- {
    margin-left: 14%;
  }
}

@media only screen and (min-width: 520px) {
  .col- {
    margin-left: 3%;
  }
}
