<div class="container-flex plp-desktop-grid">
    <div class="row" style="margin-right: 0">
        <div class="col-sm-2 custom-col-small"></div>
        <div class="col-sm-8 custom-col-big">
            <div class="container-flex">
                <div class="row">
                    <div class="col-sm-3">
                        <%- include ./plpFilter.ejs%>
                    </div>
                    <div class="col-sm-9">
                        <div class="container-flex">
                            <div class="row">
                                <%- include ./plpItems.ejs%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 custom-col-small"></div>
    </div>
</div>
