<div class="filter">
    <button class="collapsible">CATEGORY</button>
    <div class="content">
        <ul>
            <li class="filter-element">MOTORBIKE</li>
            <li class="filter-element">AVG</li>
            <li class="filter-element">WINTERSPORTS</li>
            <li class="filter-element">BIKE</li>
            <li class="filter-element">EQUESTRIAN</li>
        </ul>
    </div>
    <button class="collapsible">PRODUCT TYPE</button>
    <div class="content">
        <div>
            <ul>
                <li class="filter-element">LEATHER SUITS</li>
                <li class="filter-element">JACKETS</li>
                <li class="filter-element">PANTS</li>
                <li class="filter-element">ACCESSORIES</li>
                <li class="filter-element">HELMETS</li>
                <li class="filter-element">SHOES</li>
                <li class="filter-element">BOOTS</li>
                <li class="filter-element">GLOVES</li>
                <li class="filter-element">SAFETY</li>
                <li class="filter-element">TECHNICAL LAYERS</li>
                <li class="filter-element">CASUAL WEAR</li>

            </ul>
        </div>
    </div>
    <button class="collapsible" >GENDER</button>
    <div class="content">
        <div>
            <ul>
                <li class="filter-element">UNISEX</li>
                <li class="filter-element">MEN</li>
                <li class="filter-element">WOMEN</li>
            </ul>
        </div>
    </div>
    <button class="collapsible" >PRICE</button>
    <div class="content" style="padding-left: 10px">
        <input type="text" class="js-range-slider" name="my_range" value="" />
    </div>
    <button class="collapsible">COLOR</button>
    <div class="content">
        <div class="colors">
            <div class="filter-select selected">
                <div class="color-element" style="background-color: green"></div>
            </div>
            <div class="filter-select selected">
                <div class="color-element" style="background-color: black"></div>
            </div>
            <div class="filter-select">
                <div class="color-element" style="border: #cccccc solid 1px ;background-color: white"></div>
            </div>
            <div class="filter-select">
                <div class="color-element" style="background-color: orange"></div>
            </div>
            <div class="filter-select selected">
                <div class="color-element" style="background-color: red"></div>
            </div>
        </div>
    </div>
    <button class="collapsible">SIZE</button>
    <div class="content">
        <div class="sizes">
            <div class="container-flex">
                <div class="row">
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element selected ">
                            S
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            M
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            L
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            XL
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            XXL
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="collapsible" style="padding-top: 5px; padding-bottom: 0"></button>
    <div class="content">
        <button class="btn btn" style="background-color:lightgray;color: #3b3b3b; font-weight: bold; padding: 1px; font-size: 15px;text-align: center;margin: 0 0 40px 15%">RESET ALL FILTERS</button>
    </div>
</div>
