<div class="plp-nav-mobile">
    <div class="plp-nav-mobile-wrapper">
        <div class="ham">
            <img src="/images/ham.png" alt="">
        </div>
        <div class="title">
            <%=name.toUpperCase()%>
        </div>
        <div class="cart">
            <img src="/images/cart.png" alt="">
            <img src="/images/zero.png" alt="">
        </div>
    </div>
    <div class="plp-filter-mobile-wrapper">
        <div class="filter-button">
            <button class="openbtn" onclick="opensidebar()">
                <img src="/images/leftarr.png"> 
                Filters
                <img src="/images/five.png" alt="">
            </button>
        </div>
        <div class="mglass">
            <div>Search</div>
            <img src="/images/filtermglass.png" alt="">
        </div>
    </div>
</div>