<div id="mySidebar" class="sidebar">
    <div class="sidebar-header">
        <div style="display: inline">
            Filters
            <img style="max-width: 20px" src="/images/five.png" alt="">
        </div>
        <div class="closebtn" onclick="closesidebar()">
            <img src="/images/righbarr.png" alt="">
        </div>
    </div>
    <button class="collapsible">&#8226; ACTIVITY</button>
    <div class="content">
        <ul>
            <li class="filter-element">SNOW</li>
            <li style="border-bottom: #CDCDCD solid 1px; border-top: #CDCDCD solid 1px" class="filter-element">WHEEL
            </li>
            <li class="filter-element">ROAD</li>
        </ul>
    </div>
    <button class="collapsible">&#8226; PRODUCT TYPE</button>
    <div class="content">
        <div>
            <ul>
                <li class="filter-element">LEATHER SUITS</li>
                <li style="border-bottom: #CDCDCD solid 1px; border-top: #CDCDCD solid 1px;" class="filter-element">
                    JACKETS
                </li>
                <li style="border-bottom: #CDCDCD solid 1px;" class="filter-element">PANTS</li>
                <li style="border-bottom: #CDCDCD solid 1px;" class="filter-element">ACCESSORIES</li>
                <li style="border-bottom: #CDCDCD solid 1px;" class="filter-element">HELMETS</li>
                <li style="border-bottom: #CDCDCD solid 1px;" class="filter-element">SHOES</li>
                <li style="border-bottom: #CDCDCD solid 1px;" class="filter-element">BOOTS</li>
                <li style="border-bottom: #CDCDCD solid 1px;" class="filter-element">GLOVES</li>
                <li style="border-bottom: #CDCDCD solid 1px;" class="filter-element">SAFETY</li>
                <li style="border-bottom: #CDCDCD solid 1px;" class="filter-element">TECHNICAL LAYERS</li>
                <li class="filter-element">CASUAL WEAR</li>

            </ul>
        </div>
    </div>
    <button class="collapsible">&#8226; GENDER</button>
    <div class="content">
        <div>
            <ul>
                <li class="filter-element">UNISEX</li>
                <li style="border-bottom: #CDCDCD solid 1px; border-top: #CDCDCD solid 1px" class="filter-element">MEN
                </li>
                <li class="filter-element">WOMEN</li>
            </ul>
        </div>
    </div>
    <button class="collapsible">&#8226; PRICE</button>
    <div class="content">
        <div class="range-slider">
            <input type="text" class="js-range-slider" name="my_range" value=""/>
        </div>
    </div>
    <button class="collapsible">&#8226; COLOR</button>
    <div class="content">
        <div class="colors">
            <div class="filter-select selected">
                <div class="color-element" style="background-color: green"></div>
            </div>
            <div class="filter-select selected">
                <div class="color-element" style="background-color: black"></div>
            </div>
            <div class="filter-select">
                <div class="color-element" style="border: #cccccc solid 1px ;background-color: white"></div>
            </div>
            <div class="filter-select">
                <div class="color-element" style="background-color: orange"></div>
            </div>
            <div class="filter-select selected">
                <div class="color-element" style="background-color: red"></div>
            </div>
        </div>
    </div>
    <button class="collapsible">&#8226; SIZE</button>
    <div class="content">
        <div class="sizes">
            <div class="container-flex">
                <div class="row">
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element selected">
                            XS
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            S
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            M
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            L
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            XL
                        </div>
                    </div>
                    <div class="col" style="margin: 3px; padding: 0">
                        <div class="size-element ">
                            XXL
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn results-button">RESET FILTER</button>
        <button class="btn btn-danger results-button">VIEW RESULTS</button>
    </div>
</div>
