.item-description-wrapper{
  .description{
    .title{
      font-size: 30px;
      font-weight: bold;
      margin: 20px 0 20px 0;
    }

    .long_desc{
      font-size: 20px;
      margin: 20px 0 20px 0;
      list-style-type: none;
    }
  }
    .image{
      max-width: 108px;
      min-width: 108px;
    }
  .swiper-container {
    height: 615px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;

    
  }
}