.item-description-wrapper {
  .description {
    padding-top: 33px;
    padding-left: 20px;

    .title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 33px;
    }

    .long_desc {
      font-size: 20px;
      margin: 20px 0 20px 0;
      list-style-type: none;
    }

  }

  .head-image{
    min-height: 615px;
    min-width: 615px;
    max-height: 615px;
    max-width: 615px;
  }
  .image {
    max-width: 108px;
    min-width: 108px;
  }

  .swiper-container {
    height: 615px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
  }

  @media only screen and (max-width: 1850px) {
    .head-image{
      max-width: 450px;
      max-height: 450px;
      min-height: 450px;
      min-width: 450px;
    }
    .swiper-container {
      height: 515px;
    }
  }

  @media only screen and (max-width: 1600px) {
    .head-image{
      max-width: 300px;
      max-height: 300px;
      min-height: 300px;
      min-width: 300px;
    }
    .swiper-container {
      height: 515px;
    }
  }
}
