.nav-mobile{
  display: none;
  margin: 0;
  .nav-mobile-wrapper{
    padding: 5px;
    background-color: black;
    color: white;

    .nav-mobile-elements{
      text-align: center;
      font-weight: bold;
      *{
        padding: 0 3px 0 3px;
        display: inline;
      }
    }

  }
}