<!DOCTYPE html>
<html>
    <head>
        <title><%= category.page_title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <div class="header-wrapper">
            <div class="headerNav">
                <span class="headerNotification">Shop-Task-ForkPoint</span>
                <a class="customButton" href="/mens">Mens</a>
                <a class="customButton" href="/womens">Womans</a>
            </div>
<!-- Todo: make better breadcrumbs navigation! -->
<!--            <div class="breadcrumbs"><a href="/">Home</a> / <a href=""></a></div>-->
        </div>